<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">

        Primary Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
          accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
      <div class="panel-footer">
         Primary Panel
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Primary Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
          Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Primary Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
          accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div>
  </div>
  <!-- /. ROW  -->
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Primary Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
          accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div>
  </div>
</div>
