


    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">
          Suivi des tests <small>evolution du corona virus</small>
        </h1>
      </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-blue">
          <div class="panel-body">
          <i class="fa fa-users fa-5x"></i>
            <h3>52,160 </h3>
          </div>
          <div class="panel-footer back-footer-blue">
            nouveaux cas
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-blue">
          <div class="panel-body">
          <i class="fa fa-users fa-5x"></i>
            <h3>52,160 </h3>
          </div>
          <div class="panel-footer back-footer-blue">
            forme grave

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-blue">
          <div class="panel-body">
          <i class="fa fa-users fa-5x"></i>
            <h3>52,160 </h3>
          </div>
          <div class="panel-footer back-footer-blue">
            Retablie

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-blue">
          <div class="panel-body">
          <i class="fa fa-users fa-5x"></i>
            <h3>52,160 </h3>
          </div>
          <div class="panel-footer back-footer-blue">
            Deces

          </div>
        </div>
      </div>
    </div>

<h2>Protégez-vous et protégez les autres de la COVID-19</h2><br>
Si la COVID-19 se propage dans votre communauté, protégez-vous en prenant quelques précautions simples, comme maintenir
une distance physique avec autrui, porter un masque, bien ventiler les pièces, éviter les rassemblements, vous laver les
mains, et tousser dans votre coude replié ou un mouchoir. Suivez les recommandations locales là où vous vivez et
travaillez. Faites tout cela !
<br><br>
